<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/9194c98a7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/todo.css">
    <title><%=todo.name %></title>
</head>
<body>
    <div class="container">
        <h1><%=todo.name %></h1>


        <form action="/todo/<%=todo._id%>/newTask" method="POST">
            <input type="text" name="taskName" id="taskName" placeholder="Nova Tarefa" required>
        </form>

        <ul>
            <% todo.tasks.forEach(function(task){%>
                <li <% if(task.status == 3) {%>  class="finished" <%}%>>
                    <div class="desc">
                        <%=task.name%>
                    </div>
                    <span class="icons">
                        <% if(task.status == 1) { %>
                            <a href="/todo/<%=todo._id%>/done/<%=task._id%>"><i class="fas fa-check"></i></a>
                            <a href=""><i class="fas fa-exclamation"></i></a>
                            <a href=""><i class="far fa-trash-alt"></i></a>
                        <% }else{ %>
                            <a href=""><i class="fas fa-redo-alt"></i></i></a>
                        <%}%>
                    </span>
                </li>            
            <%});%>
        </ul>

    </div>
</body>
</html>